*.txt
*.sln
*.vcxproj
*.user
*.filters
GenerateGraphs1/Debug
GenerateGraphs1/x64
GenerateGraphs1/.vs
GenerateGraphs1/GenerateGraphs1/Debug
GenerateGraphs1/GenerateGraphs1/x64
GenerateGraphs1/GenerateGraphs1/Graphs
GenerateGraphs1/GenerateGraphs1/FullGraphs
TestTilesets/.vs
TestTilesets/x64
TestTilesets/TestTilesets/x64
TestTriangles/x64
TestTriangles/Debug
TestTriangles/.vs
TestTriangles/TestTriangles/x64
TestTriangles/TestTriangles/Debug
TestTriangles/TestTriangles/4.12.*
TestTriangles/TestTriangles/*.graph