*.vs
*.sln
*.vcxproj
*.filters
*.user
GenerateGraphs1/.vs
GenerateGraphs1/Debug
GenerateGraphs1/x64
GenerateGraphs1/GenerateGraphs1/Debug
GenerateGraphs1/GenerateGraphs1/Graphs
GenerateGraphs1/GenerateGraphs1/FullGraphs
GenerateGraphs1/GenerateGraphs1/x64

TestTriangles/.vs
TestTriangles/Debug
TestTriangles/x64
TestTriangles/TestTriangles/4*
TestTriangles/TestTriangles/Debug
TestTriangles/TestTriangles/res
TestTriangles/TestTriangles/x64
TestTriangles/TestTriangles/*.txt
TestTriangles/TestTriangles/*.graph

TestTilesets/.vs
TestTilesets/Debug
TestTilesets/x64
TestTilesets/TestTilesets/Tilesets
TestTilesets/TestTilesets/Triangle
TestTilesets/TestTilesets/FullGraphs
TestTilesets/TestTilesets/x64